body {
	padding: 0;
	margin: 0;
}

header,h1,nav,main,article,aside,footer{
	padding:0;
	margin:0;
	border: 1px solid black;
}

header{
	display:flex;
	align-items: center;
}

h1{
	flex-basis: 45%;
	text-align: center;
}

nav{
	flex-basis: 55%;
}

#main-menu{
	list-style: none;
	display:flex;
	padding: 0;
	margin: 0 30px;
	justify-content: space-between;
}

#main-menu li{
	padding: 10px;
	margin: 0 10px;
}

main{
	display: flex;
}

article{
	flex-basis:75%;
}

aside{
	flex-basis:25%;
}

@media (max-width: 600px){
	main{
		flex-direction: column;
	}
	
	article{
		flex-basis: 100%;
	}
	
	aside{
		flex-basis: 100%;
	}
	
}

footer{
	position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;  
}